@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
    html {font-size: 16px;}
		#wrap {width: 1265px; margin: 0 auto;}
		#banner {font-size: 2rem;font-family: 'Pangolin', cursive;}
		#preview {width: 1200px; margin: 0 auto;}
		.img-preview {width: 20%; float: left;}
		.img-preview img {width: 95%;} 
		p {text-align: center;}
		.menu {width: 33%; text-align: center; display: inline-block;}
		#menu-cont {clear: both; border-top:1px solid black;   
				                     border-bottom: 1px solid black;}
		#box01 p {clear: both;border: 2px solid black; padding: 20px;text-align: center;font-size: 2rem;}
			/* claer both를 설정해주자 저 칸에 맞게 설정되었는데 이유가 궁금..합니다
			마진 탑을 해주었는데 왜 실행이 안 되는지 궁금합니다*/ 
		#box01.img {margin: 0 auto;}
		#ellenmessage  {font-size: 2rem;font-family: 'Noto Serif KR', serif;}
		#box01img2{margin: 0 auto;}
		.ellenmessage01 {clear: both; border:1px solid black; padding: 15px;font-size: 20px;font-family: 'Nanum Gothic', sans-serif;}
		.ellenmessage02 {clear: both; border:1px solid black;padding: 15px; margin-top: 10px; font-size: 20px;font-family: 'Nanum Gothic', sans-serif;}

		#box02 p {clear: both; border: 2px solid black; padding: 20px;text-align: center; font-size: 2rem;}
		#ummessage  {font-size: 2rem;font-family: 'Noto Serif KR', serif;}
		.ummessage01 {clear: both; border:1px solid black; padding: 15px; margin-top: 10px; font-size: 20px;font-family: 'Nanum Gothic', sans-serif;}
		.ummessage02 {clear: both; border:1px solid black; padding:15px;margin-top: 10px;font-size: 20px;font-family: 'Nanum Gothic', sans-serif;}
		#box03 p  {clear: both; border: 2px solid black; padding: 20px; text-align: center;font-size: 2rem;}
		#subakmessage  {font-size: 2rem;font-family: 'Noto Serif KR', serif;}
		.subakmessage01 {clear: both; border:1px solid black; padding: 15px;margin-top: 10px;font-size: 20px;font-family: 'Nanum Gothic', sans-serif;}
		.subakmessage02 {clear: both; border:1px solid black; padding: 15px;margin-top: 10px;font-size: 20px;font-family: 'Nanum Gothic', sans-serif;}
		#box04 p {clear: both; border: 2px solid black; padding: 20px;text-align: center; font-size: 2rem;}
        #momessage  {font-size: 2rem;font-family: 'Noto Serif KR', serif;}
		.momessage01 {clear: both; border:1px solid black; padding: 15px;margin-top: 10px;font-size: 20px; font-family: 'Nanum Gothic', sans-serif;}
		.momessage02 {clear: both; border:1px solid black; padding: 15px;margin-top: 10px;font-size: 20px;font-family: 'Nanum Gothic', sans-serif;}
		#box05 p {clear: both; border: 2px solid black; padding: 20px;text-align: center; font-size: 2rem;}
        #yonimessage  {font-size: 2rem;font-family: 'Noto Serif KR', serif;}
		.yonimessage01 {clear: both; border:1px solid black; padding: 15px;margin-top: 10px;font-size: 20px;font-family: 'Nanum Gothic', sans-serif;}
		.yonimessage02 {clear: both; border:1px solid black; padding: 15px;margin-top: 10px;font-size: 20px;}
		#maker {clear: both; border-top:1px solid black;   
				                     border-bottom: 1px solid black;text-align: right; font-size: 20px;padding-top: 15px; padding-bottom: 15px;}
	